<div id="sidr">
    <ul>
        <li class="mTitle"><strong>Menu</strong>
        </li>
        <li class='backColor opt'></li>
        <li class='ballNum opt'></li>
        <li>
            <form class='checkers'>
                <input type="checkbox" id="fpsCheck" name="checks" value="fps"> FPS off &nbsp;
                <input type="checkbox" id="timerCheck" name="checks" value="time"> Display Bar Off
            </form>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        $('#show').sidr({
            side: 'right'
        });

        $('#show').click(function() {
            if ($('#show').css('right') === '10px')
                setTimeout(function() {
                    $('#show').css('right', '18%');
                }, 200);
            else
                $('#show').css('right', '10px');

        });
    });
</script>